
	<security>
		<!-- "all-permissions" requires all jars must be signed -->
		<all-permissions/>
	</security>

	<update $jnlpUpdateMode />

	<resources>

#parse("jnlp-properties.vm")

		<java
			version="$jnlpJavaVersion"
#if($jnlpJavaUseArgs.contains("true"))
			java-vm-args="$jnlpJavaArgsString"
			initial-heap-size="$jnlpJavaHeapMinimum" max-heap-size="$jnlpJavaHeapMaximum"
#end
			/>

#foreach( $entry in $dependencies.split("\n") )
#if( $entry.contains("$mainJar"))
		<!-- "main jar" must contain INDEX.LIST for applet; may provide main() for application; may extend java.awt.Applet for applet -->
		<jar href="$mainJar" download="eager" main="true"/>

#elseif($entry.contains("$progressJar")  )
		<!-- must implement http://download.oracle.com/javase/6/docs/jre/api/javaws/jnlp/javax/jnlp/DownloadServiceListener.html -->
		<jar href="$progressJar" download="progress" main="false"/>

#else
		$entry
#end
#end

	</resources>
